<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>File Upload</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="#">Upload File</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      

      <div class="jumbotron text-center">

        {% if offers|length > 0 %}
          <table class="table table-bordered table-stripped">
            <tr>
              <th> Title </td>
              <th> Error </td>
              <th> Status </td>
            </tr>
            {% for offer in offers %}
              {% if offer.success %}
                <tr class="success" >
              {% else %}
                <tr class="danger" >
               {% endif %}
               
               <td> {{offer.title}} </td>
               <td> {{offer.error}} </td>
               
               <td>
                 {% if offer.success %}
                   {{ "Success" }}
                 {% else %}
                   {{ "Failure" }}
                 {% endif %}
               </td>
               </tr>

            {% endfor %}


          </table>
        {% endif %}

        {% if readError %}
          <div class="bg-danger col-md-4 col-md-offset-4" align="center"  >
            <h4>File is not an Excel File or Data is not in correct format. </h4>
          </div>
       {% endif %}
        <div>
          <h1><br/>Select File</h1>
        </div>
        <form method="post" action="/upload/" enctype="multipart/form-data">
          {% csrf_token %}
          <span class="btn btn-file"><input name="excelfile" type="file" /></span>
          <p></p>
          <button type="submit" class="btn btn-primary btn-lg">Upload</button>
        </form>
        
        <p>Select Excel file to upload.</p>

      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
